---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>{{ page.title }}: {{ page.slogan }}</h4>
            <div class="hline"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Tags:</b> {{ page.tagged }}</p>
             
            <p><b>Status:</b> {{ page.status }}</p>
            
            {% if page.website %}
            <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
            {% endif %}

            {% if page.appstorelink %}
            <div class="downloadButtonsContainer">
                <a class="appStoreLink" href="{{ page.appstorelink }}" target="_blank"><img class="appStore" src={{ "/assets/img/appstore.png" }}></a>
            </div>
            {% endif %}
        </div>
    </div><! --/row -->

    {% if page.features.size > 0 %}
    <div class="row">
        {% include features.html title="Features" %}
    </div>
    {% endif %}
</div><! --/container -->
	 
{% include portfolio.html title="Related Works." limit=5 %}